.App {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "header header"
    "nav content";
}

.Header {
  grid-area: header;
  margin: 1em;
  font-size: 4em;
  text-align: center;
}

.Nav {
  grid-area: header;
}

.Content {
  grid-area: content;
}

.CommentForm {
  width: 100%;
}

.CommentForm input {
  height: 2em;
  width: 90%;
}
