.App {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "header header"
    "nav content";
}

.Header {
  grid-area: header;

  text-align: center;
}

.Nav {
  grid-area: nav;
}

.Content {
  grid-area: content;
}

.CommentForm {
  width: 100%;
}

.CommentForm input {
  height: 2em;
  width: 90%;
}

.disabled {
  pointer-events: none;
}

/* 
Components/Classes:
- ArticleList
- CommentForm
- Comments
- Content
- Error
- Article
- Header
- Nav
- Profile
- SortBy
- Votes
 */
